:root
{
    --color-gray:#757575;
    --color-black:#000000;
    --color-blue:#2196F3;
    --color-backgroung:#2F303A;
    --color-c6:#188CE8;
}

body
{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin: 0;
}
ul
{
    margin: 0;
    padding: 0;
}

.body li
{
    list-style: none;
}
button a
{
    cursor: pointer;
}
address
{
    font-style: normal;
}
.conteiner
{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   /* outline: 2px solid red;*/
}
.titel
{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}
.pictures-block
{
    display: block;
    max-width: 100%;
}
.visually-hidden 
{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---------HEADER -------*/

/* -------------HERO------------- */

/* --------------FEATURES------------- */

/* ----------PICTURES-------- */

/* -------------TEAM----------- */

/*-----------------CLIENT------------*/

/* --------FOOTER -----------*/

/* ----------Portfolio------------ */

/*-------------BUTTON-------------*/
